body {
  text-align: center;
  background-color: #013f16;
}

#level {
  font-family: 'Press Start 2P';
  font-size: 60px;
  margin:  5%;
  color: rgb(254, 227, 108);
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid rgb(65, 3, 3);
  border-radius: 10%;
}

.game-over {
  background-color: rgb(53, 1, 1);
  opacity: 0.8;
}

.red {
  background-color: rgb(139, 36, 36);
}

.green {
  background-color: rgb(44, 102, 44);
}

.blue {
  background-color: rgb(34, 34, 112);
}

.yellow {
  background-color: rgb(201, 190, 34);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}